# Data quality critiria last edit on 28 OCT

In [6]:
#pip install missingno

In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import matplotlib.pyplot as plt
import missingno as msno

In [5]:
data=pd.read_excel(r'',sheet_name='')

Dataset Info

In [58]:
len(data)

In [59]:
print(data.size)

In [60]:
#columns, rows
data.shape

In [61]:
data.columns

In [62]:
data.info()

In [63]:
data.head()

In [64]:
data.describe().T

In [ ]:
def extreme_values(df):
    names=[]
    max_=[]
    min_=[]
    Q1=[]
    Q3=[]
    IQR=[]
    upper=[]
    lower=[]
    mean_=[]
    std_=[]
    mode_=[]
    for col in df.columns: 
        #print('coluumn:', col)
        try:
            df[col] = pd.to_numeric(df[col]) 
#             plt.figure(figsize=(17,1))
#             sns.boxplot(data=df, x=col)
            #print('Minimum Vlaue:' ,df[col].min())    
            #print('Maximum Vlaue:' , df[col].max(),'\n') 
            names.append(col)
            mean_.append(df[col].mean())
            mode_.append(df[col].mode())
            std_.append(np.std(df[col]))
            min_.append(df[col].min())
            max_.append(df[col].max())
            Q1.append(df[col].quantile(0.25))
            Q3.append(df[col].quantile(0.75))
            IQR.append((df[col].quantile(0.75)) - (df[col].quantile(0.25)))
            upper.append(df[col].quantile(0.75) +(1.5*( df[col].quantile(0.75) -df[col].quantile(0.25))))
            lower.append(df[col].quantile(0.25)-(1.5*(df[col].quantile(0.75) -df[col].quantile(0.25))))
        except:
            print('non numerical column \n')
            print('*************')                       

   
    values_range = pd.DataFrame(
        {'column_name': names,
         'mean':mean_,
         'mode':mode_,
         'std':std_,
         'max':max_,
         'min': min_,
         'Q1':Q1,
         'Q3':Q3,
         'IQR':IQR,
         'upper':upper,
         'lower':lower
})
    display(values_range)

In [ ]:
#max and min values
range_values= extreme_values(data)
range_values

Duplicated Values

In [65]:
len(data.drop_duplicates())

In [66]:
data.drop_duplicates()
print(data)

Missing Values

In [17]:
# DFO.isna().sum()

In [20]:
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [67]:
missing_data_per_count= missing_values_table(data)
missing_data_per_count

In [68]:
msno.bar(data)

In [17]:
# msno.matrix(DFO)

In [69]:
msno.dendrogram(data)

# Exploring column values

In [70]:
LI=data.select_dtypes(include=[np.datetime64])
LI.columns
df1=data.drop(columns=LI.columns,axis=1)
df1

In [23]:
# L=DFO.select_dtypes(include=[np.number])
# sns.heatmap(L, annot=True)

In [71]:
#correlation
corr_=data.corr().unstack().sort_values(ascending=False).drop_duplicates().reset_index(name='cor')
corr_.loc[corr_['cor']>=0.5]

Unique values in a column

In [34]:
def colum_values_len(df):
    values=[]
    un_counts=[]
    names=[]
    leng=[]
    for i in df.columns:
#         print ((DFO[i].apply(type)))
#          if (np.issubdtype(df[i].dtype, np.datetime64)):
# # #           print('yes')
#               continue
#          else:
          
            names.append(i)
        #     print('Column:',i)
            leng.append(len(df[i]))
            un_counts.append(len(df[i].dropna().unique()))
            #print('Number of unique values:',len(DFO[i].unique()),'\n')
            #print('unique values are:',(DFO[i].unique().tolist()),'\n')
            #values.append((len(df[i].dropna().unique())/len(df[i]))*100)
            #values.append(df[i].dropna().unique().tolist())
    columns_len = pd.DataFrame(
        {'column_name': names,
         'column_length':leng,
         'Num_unique_values': un_counts
         #'Perc': values,
        })
    display(columns_len)

In [72]:
col_len_and_un_len= colum_values_len(data)
col_len_and_un_len

Values counts  for each column

In [36]:
def col_values_counts(df):
        #column values and percentage
    for column in df:

        counts = df[column].value_counts()
        #sns.countplot(x=column,data=df)
    #     percent = DFO[column].value_counts(normalize=True)
        percent100 = df[column].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
        #display(pd.DataFrame({'column':column,'counts': counts, 'per': percent, 'per100': percent100}))
        data=pd.DataFrame({'column':column,'counts': counts,  'per': percent100})
        display(data)

In [73]:
col_values_counts1= col_values_counts(data)
col_values_counts1

Values Distribution

In [74]:
data.hist(alpha=0.5, figsize=(20, 10),xrot =45)
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

In [42]:
# sns.displot(data, stat = 'density')
# plt.show()

Values_range

In [53]:
def box_plot(df):
   
    for col in df.columns: 
        #print('coluumn:', col)
        try:
            df[col] = pd.to_numeric(df[col]) 
            if (np.issubdtype(df[col].dtype, np.datetime64)):
                continue
            else:
#             if( df[col].type()==datetime64[ns]):
#                 print('yes')
            #print('column name',col)
                plt.figure(figsize=(17,1))
                ax=sns.boxplot(data=df, x=col)
                ax.get_xaxis().get_major_formatter().set_scientific(False)

            #print('Minimum Vlaue:' ,df[col].min())    
            #print('Maximum Vlaue:' , df[col].max(),'\n')  
            
           
        except:
            print('non numerical column \n')
            #print('*************')

In [75]:
range_values_plot= box_plot(data)
range_values_plot

In [57]:
# #column values length
# for col in data.columns:
#     data[col+'_len']=data[col].astype(str).map(len)